.navigation {
  display: grid;
  gap: 1rem;
  grid-template: repeat(5,1fr) / repeat(2, 1fr);
  grid-template-areas:  'intro intro'
                        't_cr t_cr' 
                        't_a t_a'
                        'gaps gaps'
                        'alignment alignment';
  aspect-ratio: 2 / 4;
  overflow: hidden;
}

#animation-portal {
  position: fixed;
}

.navigation__section {
  transition: .3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;

  &:hover {
    filter: brightness(1.3);
    text-decoration: underline;
  }

  & > h2 {
    position: relative;
    z-index: 110;
  }
}


.navigation__intro {
  grid-area: intro;
}

.navigation__templates {
  grid-area: t_cr;
}

.navigation__template-areas {
  grid-area: t_a;
}

.navigation__gap {
  grid-area: gaps;
}

.navigation__alignment {
  grid-area: alignment;
}

@keyframes increase{
  from { 
    gap: 4rem;
    opacity: 0;
  }
  to {
    gap: 1rem;
  }
}

@media (min-width: 640px) {
  .navigation{
    grid-template: repeat(4,1fr) / repeat(3, 1fr);
    grid-template-areas:  'intro      t_cr        t_cr '
                          'gaps       t_cr        t_cr '
                          'alignment alignment t_a'
                          'alignment alignment t_a';
    aspect-ratio: 4 / 3;
  }
}

@media (min-width: 1024px) {
  .navigation{
    grid-template: repeat(4,1fr) / repeat(5, 1fr);
    grid-template-areas:  'intro      t_cr        t_cr .   .'
                          '.          t_cr        t_cr t_a t_a'
                          'alignment alignment    gaps t_a t_a'
                          'alignment alignment    .    .   .';
    aspect-ratio: 5 / 4;
  }
}
