@tailwind base;
@tailwind components;
@tailwind utilities;

@import './tooltip.css';
@import './inspector.css';
@import './prism.css';

* {
  box-sizing: border-box;
}

/* a {
  color: #3730a3;
  border-bottom: 1px solid #818cf8;
  cursor: pointer;
}

a:hover {
  color: #312e81;
  border-bottom: 1px solid #3730a3;
} */

.page-transition {
  animation: pageTransition 0.3s forwards;
}

.page-transition-end {
  animation: pageTransitionEnd 0.3s forwards 0.3s;
}

@keyframes pageTransition {
  from {
  }
  to {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
}

@keyframes pageTransitionEnd {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

select {
  padding: 0.4rem;
  display: block;
  width: 100%;
  /* border: 1px solid #818cf8; */
  border-radius: 8px;
}

.section-layout h1,
.section-layout h2,
.section-layout h3 {
  font-weight: 700;
  margin: 1em 0;
}

.section-layout p {
  margin: 1em 0;
}

.section-layout h1 {
  font-size: 1.8rem;
}

.section-layout h2 {
  font-size: 1.6rem;
}
