body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: rgb(247, 247, 247);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(211, 211, 211);
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgb(185, 185, 185);
}

.main-container {
  max-width: 500px;
  margin: auto;
  padding: 1rem;
}

@media (min-width: 640px) {
  .main-container {
    max-width: 700px;
  }
}

@media (min-width: 1024px) {
  .main-container {
    max-width: 1100px;
  }
}
