.header {
  position: sticky;
  background-color: #fff;
  padding: 1rem 1rem;
  z-index: 10;
  transition: padding 0.3s;
}

.header.pinned {
  box-shadow: 0 2px 6px 0 #00000020;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  top: -1px;
}

@media (min-width: 640px) {
  .header {
    padding: 1rem 3rem;
  }
}
